body {
    margin:0;
}
.header {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px 50px 80px;
}
ul {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
    gap: 10px;
}
.hero {
    background-color: blue;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 50px 80px;
}
.text-signup {
    height: 120px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.big-image {
    height:120px;
    width: 400px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width: 100px;
    padding: 5px 20px;
    border-radius: 10px;
}
.info-header {
    font-size:30px;
    font-weight:900;
    text-align: center;
    padding: 20px 0px;
}
.small-image {
    height:140px;
    width: 140px;
    border: 2px solid lightskyblue;
    border-radius:10px;
}
.subtext {
    width:140px;
    text-align: center;
    padding-top:5px;
}
.content {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}
.quote {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotebox {
    width: 650px;
    background-color: lightgray;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.main-quote {
    font-size: 30px;
}
.quoter {
    font-weight:800;
    align-self: flex-end;
}
.signup-box {
    background-color: lightskyblue;
    color: white;
    margin: 50px 80px;
    border-radius: 8px;
    padding:20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    background-color: blue;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}