@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin:0;
    font-family:'Roboto','Times New Roman',sans-serif;
}
.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 80px 50px 80px;
}
ul {
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
    gap: 10px;
}
.hero {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px 50px 80px;
}
.text-signup {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.big-image {
    width: 400px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width: 100px;
    padding: 5px 20px;
    border-radius: 10px;
    background-color: #3882F6;
    color:#F9FAF8;
}
.info-header {
    font-size:36px;
    font-weight:900;
    text-align: center;
    padding: 20px 0px;
    color: #1F2937;
}
.small-image {
    height:140px;
    width: 140px;
    border: 2px solid #3882F6;
    border-radius:10px;
}
.subtext {
    width:140px;
    text-align: center;
    padding-top:5px;
}
.content {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}
.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quotebox {
    width: 650px;
    background-color: #E5E7EB;
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.main-quote {
    font-size: 36px;
    color:#1F2937;
    font-weight:300;
}
.quoter {
    font-weight:900;
    align-self: flex-end;
}
.signup-box {
    background-color: #3882F6;
    color: white;
    margin: 50px 80px;
    border-radius: 8px;
    padding:20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer {
    background-color: #1F2937;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero .main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight:900;
}
.hero .second-text {
    font-size:18px;
    color: #E5E7EB;
}
.logo {
    font-size:24px;
    color:#F9FAF8;
}
.btn button{
    border-color: #F9FAF8;
}